*{
   	font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
    color: rgb(33, 25, 34);
    font-size: 12px;
    height: 100%;
}
body{
	margin:0px;
	min-width: 750px;
}

header{
	background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    height: 54px;
    position: fixed;
    width: 100%;
    z-index: 671;
    /*transition: opacity 1s ease;*/
}
.headerContainer{
    width: 1250px;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
	display: block;
    height: 29px;
    overflow: visible;
    padding-top: 10px;
    position: fixed;
    z-index: 680;
}
.rightHeader{
	float: right;
    margin-right: 7px;
    width: 236px;
    background-color: #fff;
}
button{
	letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-align: center;
    display:inline-block;
    line-height: normal;
}
.notification{
	float:right;
    border: 1px solid #ccc;
    color: #5f5f5f;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px #fff;
    white-space: nowrap;
    background: linear-gradient(#fff, #f5f5f5);
    border-color: #d4d4d4;
    border-radius: 0 6px 6px 0;
    height: 34px;
    padding: 2px 0 0;
    position: relative;
    width: 42px;
    z-index: 104;
}
.notification em{
	width: 22px;
    background: url("https://s-passets-cache-ak0.pinimg.com/webapp/style/sprites/webapp-common-above_the_fold-1x-e3af73ea.png") -148px -66px no-repeat;
    height: 22px;
    display: inline-block;
    outline: none;
    position: relative;
    vertical-align: middle;
	}
.user{
	float:right;
	border-bottom-right-radius: 0 0;
    border-top-right-radius: 0 0;
    margin-right: -1px;
    background-color: #f5f5f5;
    border-radius: 6px 0 0 6px;
    border: 1px solid #d4d4d4;
    color: #818181;
    cursor: pointer;
    height: 34px;
    outline: none;
    padding: 0;
    position: relative;
    text-align: left;
    width: 195px;
    z-index: 104;
}

.imageUser{
	box-shadow: 0 0 2px #616161 inset;
    float: left;
    height: 22px;
    margin-top: 5px;
    margin-left: 8px;
    overflow: hidden;
    width: 22px;
    background-size: 22px 22px;
    border-radius: 11px;
    position: relative;
    max-width: 100%;
}

.profileName{
	white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    padding: 0 0 0 6px;
    color: #818181;
    text-align: left;
}

.leftHeader{
	float: none;
    margin-left: 7px;
    margin-right: 243px;
    padding-right: 14px;
    width: auto;
}

.searchButton{
	border: 1px solid #ccc;
    color: #5f5f5f;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px #fff;
    white-space: nowrap;
    background: linear-gradient(#fff, #f5f5f5);
    background-color: #f5f5f5;
    float: left;
    height: 25px;
    padding: 4px 9px;
    width: 42px;
    border-radius: 6px 0 0 6px;
}
.searchButton em{
	display: inline-block;
    outline: none;
    position: relative;
    vertical-align: middle;
    width: 23px;
    height: 24px;
    background: url("https://s-passets-cache-ak0.pinimg.com/webapp/style/sprites/webapp-common-above_the_fold-1x-e3af73ea.png") -172px -58px no-repeat;
}

.menuButton{
	border: 1px solid #ccc;
    color: #5f5f5f;
    cursor: pointer;
	display: inline-block;
    position: relative;
    background: linear-gradient(#fff, #f5f5f5);
    background-color: #f5f5f5;
    border-radius: 0 6px 6px 0;
    float: right;
    height: 15px;
    padding: 9px 8px 9px 11px;
}
.menuButton em{
	display: inline-block;
    outline: none;
    position: relative;
	width: 25px;
    height: 14px;
    background: url("https://s-passets-cache-ak0.pinimg.com/webapp/style/sprites/webapp-common-above_the_fold-1x-e3af73ea.png") -95px -189px no-repeat;
    vertical-align: baseline;
}
.search{
	position: relative;
    text-align: left;
    float: none;
    height: 34px;
    margin-left: 42px;
    margin-right: 40px;
    width: auto;
}
.searchForm{
	display: block;
    margin-top: 0em;
}

.searching{
	white-space: nowrap;
	letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    text-rendering: auto;
	cursor: auto;
    width: 96.463%;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    height: 21px;
    padding: 6px 0 6px 4px;
    background-color: #e9e9e9;;
}

section#main{
	padding-top:55px;
	background-color: #E9E9E9;
	position: relative;
}

section#main a{
	color: #717171;
    font-weight: bold;
    text-decoration: none;
}

article{
	margin: 14px 7px 0 7px;
    width: 236px;
    height: 320px;
    top: 0px;
    left: 0px;
    visibility: visible;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.centered{
	left: 50%;
    right: 50%;
    margin: 0 7px;
    height: 215px;
}

.sampleImage{
	width: 213px;
    height: 215px;
    background: url("https://s-passets-cache-ak0.pinimg.com/webapp/style/app/common/images/friend-center-merch-sample-1x-d492d875.jpg") 0px 0px no-repeat;
    margin-left: 5px;
}

footer{
	bottom: 10px;
    position: absolute;
}

.articlePromo{
	bottom: 0;
	border-radius: 3px;
	display: block;
    left: 10px;
    background: linear-gradient(#fff, #f0f0f0);
    border: 1px solid #ccc;
    color: #5f5f5f;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px #fff;
    white-space: nowrap;
    background-color: #f0f0f0;
    padding: 7px 13px;
    position: absolute;
    height: 30px;
    width: 215px;
}
h2{
	font-size: 14px;
	font-weight: 700;
    display: block;
    margin: auto;
    padding: 10px 16px;
    height:30px;
}

article span{
	color: #5f5f5f;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px #fff;
    white-space: nowrap;
}

figure{
	margin:0;
}

.invited{
	height: 50px;
}

.pin{
	background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    border-radius: 6px;
    width: 236px;
    display: inline-block;
    font-size: 11px;
    position: relative;
}

.metaPin{
	position:relative;
	margin: 10px 16px;
	border-bottom: none;
}

.metaPin a{
	overflow: hidden;
    display: block;
    padding: 5px 12px 6px;
}



@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}


